<h2>Edit Todo</h2>
<form method="post" action="/todos/<%= @todo.id %>">
  <input type="hidden" name="_method" value="patch" autocomplete="off">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label class="form-label">Title </label>
    <input class="form-control" type="text" name="todo[title]" value="<%= @todo.title %>">
  </div>
  <div>
    <label class="form-label">Description </label>
    <input class="form-control" type="text" name="todo[description]" value="<%= @todo.description %>">
  </div>
  <div>
    <label class="form-label">Deadline </label>
    <input class="form-control" type="date" name="todo[deadline]" value="<%= @todo.deadline %>">
  </div>
  <div>
    <input type="checkbox"  name="todo[completed]" id="completed" <%= @todo.completed ? 'checked' : '' %>>
    <label class="form-label" for="completed">Check if complete</label>
  </div>
  <div>
    <input type="submit" value="Update Todo" class="btn">
  </div>
</form>