<h1>Todo Info</h1>

<h3><%= @todo.title %></h3>
<h5><strong>Deadline: </strong><%= @todo.deadline %></h5>
<p><%= @todo.description %></p>
<a href="/todos/<%= @todo.id %>/edit">Edit Todo</a>

<a href="/todos/<%= @todo.id %>" data-turbo-method="delete">Destroy todo</a>
<a href="/todos">Back to all todos</a>